# Agora Configuration
NEXT_PUBLIC_AGORA_APP_ID=
NEXT_AGORA_APP_CERTIFICATE=
NEXT_AGORA_CUSTOMER_ID=
NEXT_AGORA_CUSTOMER_SECRET=

NEXT_AGORA_CONVO_AI_BASE_URL=https://api.agora.io/api/conversational-ai-agent/v2/projects/
NEXT_AGENT_UID=

# LLM Configuration
NEXT_LLM_URL=https://api.openai.com/v1/chat/completions
NEXT_LLM_MODEL=gpt-4
NEXT_LLM_API_KEY=

# TTS Configuration
NEXT_TTS_VENDOR=microsoft

# Text-to-Speech Configuration
NEXT_MICROSOFT_TTS_KEY=
NEXT_MICROSOFT_TTS_REGION=eastus
NEXT_MICROSOFT_TTS_VOICE_NAME=en-US-AndrewMultilingualNeural
NEXT_MICROSOFT_TTS_RATE=1.1
NEXT_MICROSOFT_TTS_VOLUME=70

# ElevenLabs Configuration
NEXT_ELEVENLABS_API_KEY=
NEXT_ELEVENLABS_VOICE_ID=XrExE9yKIg1WjnnlVkGX
NEXT_ELEVENLABS_MODEL_ID=eleven_flash_v2_5

# Modalities Configuration
NEXT_INPUT_MODALITIES=text
NEXT_OUTPUT_MODALITIES=text,audio
